Checks:
  - bugprone-*
  - clang-diagnostic-*
  - clang-analyzer-*
  - -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling
  - misc-*
  # Recursion is useful/needed for binary trees
  - -misc-no-recursion
  - modernize-*
  - performance-*
  - portability-*
  - readability-*
HeaderFileExtensions:
  - h
ImplementationFileExtensions:
  - c
